*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(wall.jpeg);

}

h1,h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
h1{
    margin-top: 205px 
}
.tudo{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

